---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

//.paper-box {
//    display: flex;
 //   justify-content: left;
   // align-items: center;
    //flex-direction: column;
   // flex-wrap: wrap;
//    border-bottom: 1px #efefef solid;
 //   padding: 2em 0 2em 0;
    
//    .paper-box-image{
//        justify-content: center;
 //       display: flex;
 //       width: 100%;
 //       order: 2;
 //       img {
 //           max-width: 400px;
 //           box-shadow: 3px 3px 6px #888;
  //          object-fit: cover;
  //      }
  //  }
    
 //   .paper-box-text{
 //       max-width: 100%;
 //       order: 1;
 //   }
    
 //   @include breakpoint($medium) {
        // 在中等屏幕上保持垂直排列
//        flex-direction: column;
 //       .paper-box-text{
 //           justify-content: left;
 //           padding-left: 0em;
//            width: 100%;
 //           max-width: 100%;
 //           order: 1; //保持文字在上
            
//        .paper-box-image{
 //           justify-content: left;
 //           width: 100%;
 //           max-width: 100%;
            //min-width: 200px;
           // max-width: 40%;
 //           order: 2; // 保持图片在下
  //      }
        

 //       }

//    }


//}

.paper-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #efefef solid;
  padding: 2em 0;

 .paper-box-text {
    width: 100%;
    margin-bottom: 1.5em;
  }

 .paper-box-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

 .paper-box-image {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        box-shadow: 3px 3px 6px #888;
        object-fit: cover;
      }
    }

 .paper-box-text2 {
      width: 50%;
      padding-left: 1em;
      display: flex;
      align-items: center;
    }
  }

  @include breakpoint($medium) {
    .paper-box-bottom {
      flex-direction: column;

      .paper-box-image,
      .paper-box-text2 {
        width: 100%;
        padding-left: 0;
        margin-bottom: 1em;
      }
    }
  }
}


$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

.page__content a.no-underline {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;  /* 有的主题用阴影来模拟下划线 */
}
